<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Eshop :: Leadsoft Bangladesh Limited</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-main-theme.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="~/Images/bannerAdmin.jpg" class="img-responsive" />
        </div>

        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/Home/Index">eCommerce</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav" >
                    <li>@Html.ActionLink("Category", "Index", "Categories") </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Category", "Index", "Categories") </li>
                            <li>@Html.ActionLink("Product", "Index", "Products") </li>
                            <li>@Html.ActionLink("Vendor", "Index", "Vendors") </li>
                            <li>@Html.ActionLink("Country", "Index", "Countries") </li>
                            <li>@Html.ActionLink("City", "Index", "Cities") </li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Administrator", "Index", "Admin") </li>

                </ul>
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    
    <div class="footer">
    </div>
   </div>
</body>

</html>
