<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - eBazar :: Leadsoft Bangladesh Limited</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-main-theme.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="~/Images/banner.jpg" class="img-responsive" id="img-header" />
            <p id="loginWishList">

                @if (Request.IsAuthenticated)
                {
                    <text>
                    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
                        ||</text>

                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    <text>
                    ||
                    </text>

                }
                else
                {
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    <text>||</text>
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    <text>||</text>
                }
                @Html.ActionLink("ShoppingCart()", "Register", "Account")
                ||
                @Html.ActionLink("Wishlist(" + ((List<EC.Model.WishItem>)ViewBag.UserWishList).Count() + ")", "Index", "WishItems")
            </p>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </div>

        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Bazar</a>
            </div>


            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Category != null)
                    {
                        foreach (EC.Model.Category category in (List<EC.Model.Category>)ViewBag.Category)
                        {
                            if (category.SubCategories.Count() > 0)
                            {
                        <li class="dropdown">

                            <a href="#" class="dropdown-toogle" data-toggle="dropdown">@category.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var subcategory in category.SubCategories)
                                {
                                    <li>@Html.ActionLink(@subcategory.Name, "CategoryWiseProducts", "Product", new { @categoryId = subcategory.Id}, null)</li>
                                }

                            </ul>
                        </li>
                            }
                            else
                            {
                        <li>
                            @Html.ActionLink(@category.Name, "ProjectTasks", "Tasks", new { @catId = category.Id }, null)
                        </li>
                            }
                        }
                    }

                  @*  <li class="toggle"><a href="#">Active</a></li>
                    <li><a href="#">Link</a></li>*@
                    @* <li class="dropdown">
                        <a href="#" class="dropdown-toogle" data-toggle="dropdown">Computer <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Laptop</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
                <form class="nav navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Profile Settings", "ManageProfile", "Account", new { userName = User.Identity.Name},null)</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Administrator", "Index", "Admin") </li>

                </ul>
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>

        <div class="footer">
        </div>
    </div>

</body>
</html>
