@model EC.Model.Vendor

@* This partial view defines form fields that will appear when creating and editing entities *@
<table class="table">
    <tr>
        <td>
            @Html.LabelFor(model => model.Name)
        </td>
        <td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Description)
        </td>
        <td>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Address)
        </td>

        <td>
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Published)
        </td>
        <td>@Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Deleted)
        </td>
        <td>
            @Html.EditorFor(model => model.Deleted)
            @Html.ValidationMessageFor(model => model.Deleted)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.IsActive)
        </td>
        <td>
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </td>
    </tr>

@*    <tr>
        <td>
            @Html.LabelFor(model => model.CreateDate)
        </td>

        <td>
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.UpdatedDate)
        </td>
        <td>@Html.EditorFor(model => model.UpdatedDate)
            @Html.ValidationMessageFor(model => model.UpdatedDate)
        </td>
    </tr>*@
</table>
